<div id="map">
  <div class="search-bar card">
    <input placeholder="Search Groups" type="text" id="search-field">
    <div class="loader">Loading...</div>
    <i class="fa fa-search search" aria-hidden="true"></i>
  </div>

  <a class="zoom-out btn-floating btn-small waves-effect waves-light red"><i class="fa fa-home" aria-hidden="true"></i></a>
</div>
<div id="issue-modal" class="modal">
  <div class="modal-content">
    <h4>Submit an issue</h4>
    <p>If you think something isn't quite right with this groups information, please fire off an email to <b>gmercer015@gmail.com</b></p>
    <p>All help is greatly appreciated!</p>
  </div>
  <div class="modal-footer">
    <a class="submit-issue modal-action modal-close waves-effect waves-green btn-flat">Gotcha</a>
  </div>
</div>
