<% content_for :meta do %>
<meta name="description" content="Integrate slackline group maps anywhere with slacklinegroups.js">
<meta property="og:url" content="http://www.slacklinegroups.com/develop">
<meta property="og:title" content="Slacklinegroups">
<meta property="og:description" content="Easily integrate a slackline community map anywhere with slacklinegroups.js">
<% end %>

<% content_for :head do %>
  <script src="http://<%= hostUrl %>/slacklinegroups.min.js"></script>
  <script src="rainbow-custom.min.js"></script>
<% end %>

<div class="header">
  <h2>Slacklinegroups.js</h2>
  <p>// Embed slackline maps anywhere</p>
</div>
<div class="body">
  <div class="about">
    <div class="container">
      <a href="/" class="backButton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
      <h4>What's this about?</h4>
      <hr>
      <p>Sometimes, finding a local group can be a bit harder than it should be. Slacklinegroups.com was created to help solve that problem. If you haven't yet, check out the <a href="/">map</a> at our home page to see what we're all about.<p>

      <p><b>slacklinegroups.js</b> is an extension of our map, bundled into an embedable widget. The widget is highly customizable and great for any use, whether it be highlighting a specific group and it's location or just showing the entire map.
      </p>
    </div>
  </div>

  <div class="mapShowCase">
    <div class="container">
      <h4>Quick Start</h4>
      <hr>
      <p>To embed our map in your site, include the script in your header:</p>
      <pre class="code"><code data-language="html">&lt;head&gt;
 <!-- normal head content, etc .... -->

 <!-- include slacklinegroups.js -->
 &lt;script src="http://www.slacklinegroups.com/slacklinegroups.min.js"&gt;&lt;/script&gt;
&lt;/head&gt;</code></pre>
      <p>Once you have your script, designate a <i>div</i> with an ID, which you'll use to create the map.</p>
      <pre class="code"><code data-language="html">&lt;body&gt;
 <!-- slackline map will go inside this div -->
 &lt;div id="mySlacklinegroupMap"&gt;&lt;/div&gt;
&lt;/body&gt;</code></pre>
      <div class="quickStart">
        <p>Lastly, initialize your map once the document is loaded:</p>
        <pre class="code"><code data-language="javascript">$('#mySlacklinegroupMap').slacklinegroups({
  showSearchBar: true,
  showHome: true,
  width: 500,
  height: 500
});

// or if you aren't using jQuery:
document.getElementById('mySlacklinegroupMap')
 .slacklinegroups({
  showSearchBar: true,
  showHome: true,
  width: 500,
  height: 500
});



</code></pre>
      </div>
      <div id="slgmap"></div>
    </div>
  </div>

  <div class="reference">
    <div class="container">
      <h4>Developer Reference</h4>
      <hr>
      <p>During the initialization of the widget, a number of options can be passed via an object. The function definition looks like so:</p>
      <pre class="code"><code data-language="javascript">slacklinegroups = function(options) { /* ... */ }</code></pre>
      <p>Below is a list of the possible options which can be passed (via {}):</p>
      <ul class="browser-default">
        <li>
          <b>showSearchBar</b>: [ <i>true</i>/<i>false</i> ]
          <p class="default">Default: <i>true</i></p>
          <p>Sets the visibility of the search bar. When set to <i>false</i>, the home button will be shifted left.</p>
        </li>
        <li>
          <b>showHome</b>: [ <i>true</i>/<i>false</i> ]
          <p class="default">Default: <i>true</i></p>
          <p>Sets the visibility of the home button.</p>
        </li>
        <li>
          <b>width</b>: number
          <p class="default">Default: <i>450</i></p>
          <p>The width of the widget. Requires a value greater than or equal to 300</p>
        </li>
        <li>
          <b>height</b>: number
          <p class="default">Default: <i>450</i></p>
          <p>The height of the widget. Requires a value greater than or equal to 300</p>
        </li>
        <li>
          <b>center</b>: Array(2) of form [ lon, lat ]
          <p class="default">Default: <i>[ 0, 35 ]</i></p>
          <p>Specifies the starting center point of the map. Requires <i>lon</i> and <i>lat</i> to be of type <i>number</i>.
        </li>
        <li>
          <b>group</b>: number
          <p class="default">Default: <i>null</i></p>
          <p>If set to a valid group ID, zooms to that group upon map load and displays the group information.</p>
        </li>
        <li>
          <b>zoom</b>: number
          <p class="default">Default: <i>1.75</i></p>
          <p>Specifies the starting zoom level of the map</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="nojs">
    <div class="container">
      <h4>No-JS approach to embedding a map</h4>
      <hr>
      <p>If you beleive Javascript is the Devils language, you can still embed slacklinegroups.com without any! To do so, you'll need to use an iFrame which points to <i>slacklinegroups.com/embed</i>. Note that the example below uses http, but https is supported if needed</p>
      <pre class="code"><code data-language="javascript">&lt;iframe src="http://www.slacklinegroups.com/embed" 
 width="500px" 
 height="500px"&gt;
&lt;/iframe&gt;</code></pre>
      <p>To pass options, you'll pass them into the source URL as query params, e.g. to disable the home and search button you could do:</p>
      <div class="left">
      <pre class="code"><code data-language="javascript">&lt;iframe
src=".../embed?showHome=false&showSearchBar=false" 
width="500px" 
height="500px"&gt;
&lt;/iframe&gt;</code></pre>
      </div>
      <iframe id="nojsSLG" src="http://<%= hostUrl %>/embed?showHome=false&showSearchBar=false" width="500px" height="500px"></iframe>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <h4>Slacklinegroups.com</h4>
      <ul>
        <li><a target="_blank" href="https://www.facebook.com/Slacklinegroups-976903459112563/"><i style="color: #ffffff;" class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://github.com/Syntaf/slacklinegroups"><i style="color: #ffffff;" class="fa fa-github-square" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/grant-mercer-82a52097/"><i style="color: #ffffff;" class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>