<div class="header">
    <h2>SlacklineGroups<sub>beta</sub></h2>
    <p>Admin Panel</p>
</div>
<div class="my-container">
    <h5>Editing your slackline group:</h5>
    <p>To draw an area that encompasses your groups activities, select the <b>Polygon Tool (p)</b> on the right side of the map, and click to create vertices. Upon clicking on an existing vertex, the shape will close and you will be able to click <em>Export</em>. This will automatically fill the <em>Cords</em> field below, so no need to touch it after.
    <br><br>After filling out or verifying the remaining information, click <em>Update Group</em> to submit your changes. All done, thanks!
    </p>
    <table>
        <tr>
            <td style="width: 100%;">
                <div id="map">
                    <a class="waves-effect waves-light btn" id="export">Export</a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="form-td">
                <%= render 'form' %>
            </td>
        </tr>
    </table>
    <!-- <%= link_to 'Back', groups_path %> -->
</div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic3ludGFmIiwiYSI6ImNqM2Z2bzZhbTAxZWwycW4wcmI5cjk4MW0ifQ.YOd5yuJfLARC2oOfqY-KoA'
    var map = new mapboxgl.Map({
        center: [-20, 45],
        zoom: 1.5,
        container: 'map',
        style: 'mapbox://styles/syntaf/cj3rys2fx000q2qodb7zlbh2v'
    });
    var draw = new MapboxDraw({
        displayControlsDefault: false,
        controls: {
            polygon: true,
            trash: true
        }
    });
    map.addControl(draw);
    var cords = $('#group_cords').val();
    // if cords are non-empty, we should display that polygon
    if(cords !== '[]') {
        var arr = JSON.parse(cords);
        map.on('load', function() {
            map.addLayer({
                id: 'group-location',
                type: 'fill',
                source: {
                    type: 'geojson',
                    data: {
                        type: 'Feature',
                        geometry: {
                            type: 'Polygon',
                            coordinates: arr
                        }
                    }
                },
                layout: {},
                paint: {
                    'fill-outline-color': '#FF1E1E',
                    'fill-color': '#FE5F55',
                    'fill-opacity': 0.8
                }
            });

            $('.mapbox-gl-draw_trash').click(function() {
                map.setLayoutProperty('group-location', 'visibility', 'none');
                $('#group_cords').val('');
            });
        });
    }
    $('#export').click(function() {
        var data = draw.getAll();
        $('#group_cords').val(JSON.stringify(data.features[0].geometry.coordinates));
    });
</script>