<div class="header valign-wrapper">
        <h2>Slackline Groups</h2>
</div>
<div class="body">
    <div class="navigation">
        <%= link_to root_path, class: "waves-effect waves-light btn" do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back
        <% end %>
    </div>
    <div class="content">
        <h4>The Problem</h4>
        <hr>
        <p>Finding a slackline group can be a bit of a hassle right now. Currently, if you're traveling and looking for some slackers, or just searching for a local group, you can try one of two things:</p>
        <ul>
            <li>Head on over to <a href="https://www.facebook.com/notes/slackchat/local-slackline-groups/536953139711901/">slackchats group file</a>(Which is a great resource), browse for any groups that you think cover the area and join a handful to ask around.</li>
            <li>Ask on slackchat, hope someone knows more than you.</li>
        </ul>
        <p>While the options above <em>work</em>, they aren't the most reliable for finding slack groups.</p>
        <h4>A Solution</h4> 
        <hr>
        <p>Enter <strong>slacklinegroups.com</strong>, a site for visualizing aggregated data on slackline groups. Inspiried in part by the map one would see on <a href="https://www.mountainproject.com/">Mountain Project</a>, the site aims to provide a convienient way for slackliners to connect and find groups around the world</a>
        <br>
        <p>The site is built using Ruby on Rails, and uses Mapbox for mapping and layering. If you'd like to develop the site further, or report an issue, the code is open source and can be found <a href="https://github.com/Syntaf/slacklinegroups">here</a>.
    </div>
</div>
