// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "vars";

html {
    background-color: $cyan-lighten-5;
}
.header {
    height: 15vh;
    background-color: $cyan-darken-2;

    h2 {
        text-align: center;
        color: white;
        margin: 0;
        width: 100%;
    }
}
.body {
    background-color: $cyan-lighten-5;
    height: 100%;
    width: 100%;

    .content {
        * {
            font-family: 'Roboto', sans-serif;
        }
        max-width: 970px;
        margin: 0 auto;
        h4 { 
            font-weight: bold;
        }
        p li {
            font-size: 16px;
        }

        ul li {
            margin-left: 30px;
            list-style-type: circle;
        }
    }
}
.navigation {
    display: inline-block;
    width: 100%;
    margin: 20px;
    margin-left: 30px;
}
.btn {
    background-color: $cyan-accent-4;
}