// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize/components/color";
body {
    background-color: #E9EBEE;
}
#db-tabs {
    @extend .grey;
    @extend .lighten-3;
}
.tab-text {
    color: #00838f !important;
}
.indicator {
    background-color: #00838f !important;
}
#map {
    height: 400px;
    width: 100%;

    .btn {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}
.my-container {
    max-width: 1400px;
    margin: 0 auto;

    .new-group {
        margin: 10px 0;
    }

    .card {
        padding: 10px;
    }

    /* class for highlighting incomplete rows */
    .red-out {
        background-color: #f4bcbc;
    }

    #activegroups, #submittedgroups {
        overflow-x: scroll;
        max-width: 1400px;
        .name-td {
            max-width: 250px;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
        .email-td {
            width: 250px;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
        .link-td {
            max-width: 200px;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
        .cord-td {
            text-align: right;
            width: 100px;
            
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
        .icon-td {
            text-align: center;
            width: 50px;
            i {
                font-size: 18px;
                cursor: pointer;
            }
        }
        .number-td {
            text-align: right;
        }
        .small-td {
            width: 115px;
        }
    }
}

td {
    vertical-align: top;
    overflow-x: auto;
    white-space: nowrap;
}
.header {
    height: 10vh;
    @extend .cyan;
    @extend .darken-2;
    text-align: center;
    sub {
        font-size: 12px;
    }
    h2 {
        line-height: 10vh;
        text-align: center;
        color: white;
        margin: 0;
        display: block;
    }
    p {
        font-weight: bold;
        color: white;
        margin: 0;
        line-height: 3vh;
        display: block;
    }
}
.form-td {
    width: 100%;
    overflow: auto;
    text-align: center;
    p {
        width: 48%;
        padding: 10px;
    }
    #nm, #cd, #mm, #lk {
        display: inline-block;
        margin: 0;
    }
    #cd {
        width: 25%;
    }
    label {
        font-weight: bold;
        color: #1b1b1b;
    }
}