// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my-container {
    max-width: 800px;
    margin: 0 auto;
}

td {
    vertical-align: top;
    max-width: 200px;
    overflow-x: auto;
    white-space: nowrap;
}