// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize/components/color";
.new-group-title {
    color: #0097a7;
}
.other, .fb-group, .fb-page {
    display: none;
}
.fb-group {
    display: block;
    padding-top: none;
    margin-top: none;
}
.left-align {
    text-align: left;
}
.error {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}
.my-container {
    max-width: 1200px;
    margin: 0 auto;
}
#groupRegional {
    padding-left: 25px;
}
#map {
    height: 400px;
    width: 100%;

    .btn {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}
td {
    vertical-align: top;
    max-width: 200px;
    overflow-x: auto;
    white-space: nowrap;
}
.prefix {
    top: 15px;
    left: 5px;
}
.select-dropdown {
    margin-top: 10px;
}
.header {
    height: 10vh;
    @extend .cyan;
    @extend .darken-2;
    text-align: center;
    sub {
        font-size: 12px;
    }
    h2 {
        line-height: 10vh;
        text-align: center;
        color: white;
        margin: 0;
        display: block;
    }
    p {
        font-weight: bold;
        color: white;
        margin: 0;
        line-height: 3vh;
        display: block;
    }
}
.form-td {
    width: 100%;
    overflow: auto;
    text-align: center;
    p {
        width: 48%;
        padding: 10px;
    }
    #nm, #cd, #mm, #lk {
        display: inline-block;
        margin: 0;
    }
    label {
        font-weight: bold;
        color: #1b1b1b;
    }
}
sup {
    cursor: pointer;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    left: 10px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    font-size: 14px;
    visibility: hidden;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    text-align: left;
    padding: 5px 5px;
    border-radius: 6px;
 
    /* Position
    position: the tooltip text - see examples below! */
    position: absolute;
    z-index: 20;

    top: -25px;
    left: 135%; 
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* Successful submission modal styling */
#groupSubmitted {
    top: 20% !important;
    width: 35%;
}