// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mapboxgl-popup-content {
    width: 220px;
    height: 170px;

    p, a {
        font-family: 'Roboto', sans-serif;
    }

    .mapboxgl-popup-close-button {
        font-size: 16px;
    }

    .title {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
    }

    .label {
        display: inline-block;
    }

    .members {
        font-weight: bold;
        display: inline-block;
    }
}
#map {
    height: 100vh;
    width: 100vw;
}
.card {
    z-index: 2;
    top: 10px;
    left: calc(10px + 0.5rem);
    position: fixed;
    width: 350px;
    height: 50px;
    background-color: #fff;
}
.menu {
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 16px;
    cursor: pointer;
}

#search-field {
    position: absolute;
    margin-top: -1px;
    width: 300px;
    height: 100%;
    box-shadow: none;
    border-bottom: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}
.search {
    position: absolute;
    font-size: 18px;
    left: calc(100% - 33px);
    margin-top: 16px;
    color: grey;
}
.headerview {
    background-image: linear-gradient(to top, transparentize(rgb(83, 188, 226), 0.5), transparentize(rgb(83, 188, 226), 0.5)), url('headerbg.png');
    background-size: cover;
    height: 90px;
    width: 100%;
    margin-bottom: 10px;

    h3 {
        text-align: center;
        font-weight: bold;
        font-size: 22px;
        margin: 0;
        padding-top: 34px;
        color: #fff;
    }
}
.bottom-bar {
    position: absolute;
    top: calc(100% - 110px);
    width: 100%;
    ul {
        width: 100%;
        text-align: center;
    }
    li {
        text-align: center;
        display: inline-block;
        a {
            padding: 0;
            i {
                font-size: 24px;
            }
        }
    }
}