// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
    height: 100vh;
    width: 100vw;
}
.card {
    z-index: 2;
    top: 10px;
    left: calc(10px + 0.5rem);
    position: fixed;
    width: 350px;
    height: 50px;
    background-color: #fff;
}
.menu {
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 16px;
    cursor: pointer;
}

#search-field {
    position: absolute;
    margin-top: -1px;
    width: 300px;
    height: 100%;
    box-shadow: none;
    border-bottom: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}
.search {
    position: absolute;
    font-size: 18px;
    left: calc(100% - 33px);
    margin-top: 16px;
    color: grey;
}
.headerview {
    background-image: linear-gradient(to top, transparentize(rgb(83, 188, 226), 0.5), transparentize(rgb(83, 188, 226), 0.5)), url('headerbg.png');
    background-size: cover;
    height: 90px;
    width: 100%;

    h3 {
        text-align: center;
        font-weight: bold;
        font-size: 22px;
        margin: 0;
        padding-top: 34px;
        color: #fff;
    }
}