<% content_for :meta do %>
<meta name="description" content="Find a slackline group wherever you go. Explore our map of 500+ groups from around the world.">
<meta property="og:url" content="http://www.slacklinegroups.com/">
<meta property="og:title" content="Slacklinegroups">
<meta property="og:description" content="Explore a map of 500+ slackline groups from around the world">
<% end %>

<div id="map">
  <div class="search-bar card">
    <i class="fa fa-bars menu button-collapse" data-activates="slide-out" aria-hidden="true"></i>
    <input placeholder="Search Groups" type="text" id="search-field">
    <div class="loader">Loading...</div>
    <i class="fa fa-search search" aria-hidden="true"></i>
  </div>
  <a class="zoom-out btn-floating btn-small waves-effect waves-light red"><i class="fa fa-home" aria-hidden="true"></i></a>
</div>
<ul id="slide-out" class="side-nav">
  <li>
    <div class="headerview">
      <h3>SlacklineGroups</h3>
    </div>
  </li>
  <li><a target="_blank" href="https://www.facebook.com/groups/slackchat/?src=slacklinegroups"><i class="fa fa-comments" aria-hidden="true"></i> Slackchat</a></li>
  <li><a target="_blank" href="https://slackmap.com/?src=slacklinegroups"><i class="fa fa-globe" aria-hidden="true"></i> Find slackline spots</a></li>
  <hr>
  <li><a target="" href="/groups/new"><i class="fa fa-envelope" aria-hidden="true"></i> Submit a new group</a></li>
  <li><a target="_blank" href="https://slackline.us/what-is-slacklining/"><i class="fa fa-question-circle" aria-hidden="true"></i> What's Slacklining?</a></li>
  <li><a href="/about"><i class="fa fa-code" aria-hidden="true"></i> About</a></li>
  <div class="bottom-bar">
    <ul>
      <li><a target="_blank" href="https://www.facebook.com/Slacklinegroups-976903459112563/"><i style="color: #3B5998;" class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
      <li><a target="_blank" href="https://github.com/Syntaf/slacklinegroups"><i style="color: #24292E;" class="fa fa-github-square" aria-hidden="true"></i></a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/grant-mercer-82a52097/"><i style="color: #0077B5;" class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</ul>
<div id="issue-modal" class="modal">
  <div class="modal-content">
    <h4>Submit an issue</h4>
    <p>If you think something isn't quite right with this groups information, please contact <b>gmercer015@gmail.com</b></p>
    <p>All help is greatly appreciated!</p>
  </div>
  <div class="modal-footer">
    <a class="submit-issue modal-action modal-close waves-effect waves-green btn-flat">Gotcha</a>
  </div>
</div>
