<div id="map">
    <div class="search-bar card">
        <i class="fa fa-bars menu button-collapse" data-activates="slide-out" aria-hidden="true"></i>
        <input placeholder="Search Groups" type="text" id="search-field">
        <i class="fa fa-search search" aria-hidden="true"></i>
    </div>
</div>
<ul id="slide-out" class="side-nav">
    <li>
        <div class="headerview">
            <h3>SlacklineGroups</h3>
        </div>
    </li>
    <li><a href=""><i class="fa fa-users" aria-hidden="true"></i> List All Groups</a></li>
    <li><a target="_blank" href="https://www.facebook.com/groups/slackchat/"><i class="fa fa-comments" aria-hidden="true"></i> Slackchat</a></li>
    <li><a href=""><i class="fa fa-globe" aria-hidden="true"></i> Find slackline spots</a></li>
    <hr>
    <li><a href=""><i class="fa fa-question-circle" aria-hidden="true"></i> What's Slacklining?</a></li>
    <li><a href=""><i class="fa fa-code" aria-hidden="true"></i> About</a></li>
    <div class="bottom-bar">
        <ul>
            <li><a href=""><i style="color: #3B5998;" class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href=""><i style="color: #24292E;" class="fa fa-github-square" aria-hidden="true"></i></a></li>
            <li><a href=""><i style="color: #0077B5;" class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</ul>
