<div id="map">
    <div class="search-bar card">
        <i class="fa fa-bars menu button-collapse" data-activates="slide-out" aria-hidden="true"></i>
        <input placeholder="Search Groups" type="text" id="search-field">
        <div class="loader">Loading...</div>
        <i class="fa fa-search search" aria-hidden="true"></i>
    </div>
    <a class="zoom-out btn-floating btn-small waves-effect waves-light red"><i class="fa fa-home" aria-hidden="true"></i></a>
</div>
<ul id="slide-out" class="side-nav">
    <li>
        <div class="headerview">
            <h3>SlacklineGroups</h3>
        </div>
    </li>
    <li><a target="_blank" href="http://www.slacklinefestivals.com/"><i class="fa fa-users" aria-hidden="true"></i> Slackline festivals</a></li>
    <li><a target="_blank" href="https://www.facebook.com/groups/slackchat/"><i class="fa fa-comments" aria-hidden="true"></i> Slackchat</a></li>
    <li><a target="_blank" href="https://slackmap.com/"><i class="fa fa-globe" aria-hidden="true"></i> Find slackline spots</a></li>
    <hr>
    <li><a target="" href="/groups/new"><i class="fa fa-envelope" aria-hidden="true"></i> Submit a new group</a></li>
    <li><a target="_blank" href="https://slackline.us/what-is-slacklining/"><i class="fa fa-question-circle" aria-hidden="true"></i> What's Slacklining?</a></li>
    <li><a href="http://localhost:3000/about"><i class="fa fa-code" aria-hidden="true"></i> About</a></li>
    <div class="bottom-bar">
        <ul>
            <li><a href=""><i style="color: #3B5998;" class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href=""><i style="color: #24292E;" class="fa fa-github-square" aria-hidden="true"></i></a></li>
            <li><a href=""><i style="color: #0077B5;" class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</ul>
