<div id="map">
    <div class="search-bar card">
        <i class="fa fa-bars menu" aria-hidden="true"></i>
        <input placeholder="Search Groups" type="text" class="search-field">
        <i class="fa fa-search search" aria-hidden="true"></i>
    </div
</div>