<div id="map">
    <div class="search-bar card">
        <i class="fa fa-bars menu button-collapse" data-activates="slide-out" aria-hidden="true"></i>
        <input placeholder="Search Groups" type="text" id="search-field">
        <i class="fa fa-search search" aria-hidden="true"></i>
    </div>
</div>
<ul id="slide-out" class="side-nav">
    <li>
        <div class="headerview">
            <h3>SlacklineGroups</h3>
        </div>
    </li>
    <li><a href="">Link1</a></li>
    <li><a href="">Link2</a></li>
    <li><a href="">Link3</a></li>
</ul>
